body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1e293b;
  color: #f1f5f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  z-index: 1000;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0e0e0;
  padding: 0 10px;
  z-index: 1000;
}

.tab-buttons {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background: white;
  border-bottom: 2px solid #4f46e5;
}

.controls {
  display: flex;
  gap: 10px;
}

.controls button {
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.editor-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: calc(100vh - 110px);
  padding: 10px;
  gap: 10px;
}

.editor {
  flex: 7;
  display: none;
  flex-direction: column;
}

.editor.active {
  display: flex;
}

.editor-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(30, 41, 59, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.output {
  background-color: #959393;
  flex: 3;
  display: flex;
  flex-direction: column;
}

iframe {
  flex: 1;
  border: none;
  z-index: 0;
}

.console {
  height: 100px;
  overflow-y: auto;
  background: #1e1e1e;
  color: #0f0;
  font-family: monospace;
  padding: 5px;
}

.show-more-container {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.show-more-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.show-more-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  z-index: 9999;
}

.show-more-menu button {
  color: black !important;
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.show-more-menu button:hover {
  background: #f0f0f0;
}

.code-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.line-numbers {
  background: #f0f0f0;
  color: #555;
  padding: 10px 5px;
  text-align: right;
  user-select: none;
  font-family: monospace;
  font-size: 14px;
  min-width: 35px;
  border-right: 1px solid #ccc;
  white-space: pre-line;
}

textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: none;
  outline: none;
}
